.review-details {
    border: none;
    box-shadow: 2px 10px 15px 5px rgb(215, 206, 205);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(182, 207, 152, 0.538);

}

span {
    font-weight: 500;
}